@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    background: white;
    margin: 0;
  }
  .page-break-after-always {
    page-break-after: always;
    break-after: page;
  }
}

.abnt-editor {
  text-align: justify;
  text-justify: inter-word;
}

.abnt-editor div {
  text-indent: 1.25cm;
  margin-bottom: 0;
}


